@using GBX.NET
@using System.IO.Compression
@using GBX.NET.Engines.Game
@using GbxIo.Components.Exceptions
@using Microsoft.Extensions.Logging

@rendermode InteractiveAuto

@inject IJSRuntime JSRuntime
@inject ILogger<DragAndDrop> Logger

<div class="area @dropEnter @(clockwise ? "" : "counterclockwise")">
    <div class="logo">
        <img src="_content/GbxIo.Components/logo.png" width="300" height="75" />
    </div>
    <div>
        @Text
    </div>
    <div style="font-size: 18px">
        @SubText
    </div>

    @if (Tool is not null)
    {
        var (input, output) = GetToolInputOutput(Tool);

        <div class="tool-info">
            <h2>@Tool.Name</h2>

            @if (!string.IsNullOrEmpty(input) && !string.IsNullOrEmpty(output))
            {
                <p>Input: <span style="color: #FFD700">@input</span>, Output: <span style="color: #FFD700">@output</span></p>
            }

            <p>@report</p>
        </div>
    }

    @if (!string.IsNullOrWhiteSpace(problemText))
    {
        <div class="tool-problem @problemClass">
            @problemText
        </div>
    }

</div>
<InputFile OnChange="OnChange"
@ondragenter="DragEnter"
@ondragleave="DragEnd"
@ondragend="DragEnd"
@onmouseout="MouseOut"
@ondrop="DragEnd" class="@filesClasses" multiple="true" />

@code {
    private string? dropEnter;
    private bool clockwise = true;
    private string? problemText;
    private string? problemClass;
    private string filesClasses = "files";

    private string? report;

    [Parameter]
    public EventCallback<BinData> OnFile { get; set; }

    [Parameter]
    public EventCallback OnDragEnd { get; set; }

    [Parameter]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    public string SubText { get; set; } = string.Empty;

    [Parameter]
    public IoTool? Tool { get; set; }

    private async Task OnChange(InputFileChangeEventArgs e)
    {
        if (Tool is not null)
        {
            Tool.Progress = new Progress<string>(msg =>
            {
                report = msg;
                StateHasChanged();
            });
        }

        foreach (var file in e.GetMultipleFiles(int.MaxValue))
        {
            await using var stream = file.OpenReadStream(int.MaxValue);
            await using var ms = new MemoryStream((int)file.Size);
            await stream.CopyToAsync(ms);

            var data = ms.ToArray();

            if (data.Length != file.Size)
            {
                problemText = $"{file.Name} - Failed to read file.";
                problemClass = "error";

                StateHasChanged();
                await Task.Delay(100);
                continue;
            }

            try
            {
                await OnFile.InvokeAsync(new BinData(file.Name, data));
            }
            catch (UnmatchingInputException ex)
            {
                problemText = $"{file.Name} - {ex.Message}";
                problemClass = "warning";

                StateHasChanged();
                await Task.Delay(100);
            }
            catch (Exception ex)
            {
                problemText = $"{file.Name} - {ex.Message} - more details in Dev Console.";
                problemClass = "error";

                Logger.LogError(ex, "Failed to process file.");
                StateHasChanged();
                await Task.Delay(100);
            }
        }

        await JSRuntime.InvokeVoidAsync("resetFileInput");
    }

    private void DragEnter(DragEventArgs e)
    {
        dropEnter = "drop-enter";
    }

    private void MouseOut()
    {
        dropEnter = null;
    }

    private void DragEnd()
    {
        dropEnter = null;
        clockwise = !clockwise;

        OnDragEnd.InvokeAsync();
    }

    private (string, string) GetToolInputOutput(IoTool tool)
    {
        var toolType = tool.GetType();

        var genericArgs = ToolService.GetIoToolBaseType(toolType)?.GetGenericArguments();

        if (genericArgs is null || genericArgs.Length != 2)
        {
            return ("", "");
        }

        var inputType = GetTypeName(genericArgs[0]);
        var outputType = GetTypeName(genericArgs[1], isOutput: true);

        return (inputType, outputType);
    }

    private string GetTypeName(Type type, bool isOutput = false, bool multiple = false)
    {
        if (type == typeof(BinData))
        {
            return "Binary file" + (multiple ? "s" : "");
        }

        if (type == typeof(TextData))
        {
            return "Text file" + (multiple ? "s" : "");
        }

        if (type == typeof(GbxData))
        {
            return $"{(isOutput ? "" : "Any ")}Gbx file{(multiple ? "s" : "")}{(isOutput ? "" : " (can be zipped)")}";
        }

        if (type == typeof(Gbx))
        {
            return "Supported Gbx file" + (multiple ? "s" : "") + (isOutput ? "" : " (can be zipped)");
        }

        var typeDef = type.GetGenericTypeDefinition();

        if (typeDef == typeof(Gbx<>))
        {
            var innerType = type.GetGenericArguments()[0];

            return $"Gbx file{(multiple ? "s" : "")} ({innerType.Name}){(isOutput ? "" : " (can be zipped)")}";
        }

        if (typeDef == typeof(IEnumerable<>))
        {
            return $"Multiple {GetTypeName(type.GetGenericArguments()[0], isOutput, multiple: true)}";
        }

        return type.Name;
    }
}
